<a href="https://colab.research.google.com/github/ustab/NOTES-FROM-LECTURERS/blob/main/Untitled88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
times=int(input("how many time s should I say 'i love you"))
for i in range(times):
  print('I love you')

how many time s should I say 'i love you5
I love you
I love you
I love you
I love you
I love you

This time, write a code block that asks the user a
number between 1 and 10 then puts that number into the
multiplication table

In [ ]:
number=int(input("1-10"))
for i in range(11):
   print('{}x{}='.format(number,i), number*i)

1-105
5x0= 0
5x1= 5
5x2= 10
5x3= 15
5x4= 20
5x5= 25
5x6= 30
5x7= 35
5x8= 40
5x9= 45
5x10= 50

In [ ]:
b=tuple(range(11))
print(b)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
b=list(range(11))
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
b=set(range(11))
print(b)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
a=set(range(0,10))
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}