<a href="https://colab.research.google.com/github/ustab/NOTES-FROM-LECTURERS/blob/main/Untitled127.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dict(), list(), tuple(), set(), len(), frozenset(), zip()ve .filter(function, iterable)enumerate(iterable)

In [ ]:
 def fib(n):    # write Fibonacci series up to n
...     """Print a Fibonacci series up to n."""
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()
fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [ ]:

'''
def fib(n): 
...     a, b = 0, 1
...     while a < n:
...         print(a, end=' ')
...         a, b = b, a+b
...     print()
'''
def fonk(n):
    a, b=0, 1
    while a<n:
          print(a, end='')
          a,b=b, a+b
    print()
    
fonk(1999989)

01123581321345589144233377610987159725844181676510946177112865746368750251213931964183178115142298320401346269

In [ ]:
def my_function(a,b):
    area = a*b
    print(area)
    
my_function(3,4)

12

In [ ]:
def get_initialname(name):
    initial_name=name[0:1]
Fname=input("first name giriniz:")

name1_initial=get_initialname(name)

name=input("last name giriniz:")

name2_initial=get_initialname(name)

print("your initials:", name_initial + name_initial)

In [ ]:
def get_initial(name):
      initial=name[0:2]
      return initial
first_name=input('enter your first name:')
first_name_initial=get_initial(first_name)
last_name=input('enter your last name:')
last_name_initial=get_initial(last_name)
print('your initials are:'+ first_name_initial +
      last_name_initial)

enter your first name:bu
enter your last name:bu
your initials are:bubu

In [ ]:
def get_initial(name):
      initial=name[0:2].upper()
      return initial
first_name=input('enter your first name:')
first_name_initial=get_initial(first_name)
last_name=input('enter your last name:')
last_name_initial=get_initial(last_name)
print('your initials are:'+ first_name_initial +
      last_name_initial)

enter your first name:bu
enter your last name:bu
your initials are:BUBU

In [ ]:
def get_initial(name):
      initial=name[0:2].capitalize()
      return initial
first_name=input('enter your first name:')
first_name_initial=get_initial(first_name)
last_name=input('enter your last name:')
last_name_initial=get_initial(last_name)
print('your initials are:'+ first_name_initial +
      last_name_initial)

enter your first name:bu
enter your last name:bu
your initials are:BuBu

In [ ]:
def get_initial(name):
      initial=name[0:3].capitalize().upper()
      return initial
first_name=input('enter your first name:')
first_name_initial=get_initial(first_name)
last_name=input('enter your last name:')
last_name_initial=get_initial(last_name)
print('your initials are:'+ first_name_initial +
      last_name_initial)

enter your first name:bur
enter your last name:bur
your initials are:BURBUR

In [ ]:
import datetime
firstname='burhanettin'
print('burhan istedigin zaman')
print(datetime.datetime.now())
print()
for i in range(10):
    print(i, end=" ")
print('burhan istedigin zaman')
print(datetime.datetime.now())
print()

burhan istedigin zaman
2022-04-17 15:33:25.481734

0
1
2
3
4
5
6
7
8
9
burhan istedigin zaman
2022-04-17 15:33:25.488656

In [ ]:
my_var = 'outer variable'

def func_var(): 
	my_var= 'inner variable'
	print(my_var) 

func_var() 
print(my_var)

inner variable
outer variable

In [ ]:
text = "I am the global one"
 
def global_func():
    print(text)  # we can use 'text' in a function
                 # because it's a global variable

global_func()  # 'I am the global one' will be printed
print(text)  # it can also be printed outside of the function
 
text = "The globals are valid everywhere "
 
global_func()  # we changed the value of 'text'
# 'The globals are valid everywhere' will be printed
 
def local_func():
    local_text = "I am the local one"
    print(local_text)  # local_text is a local variable

local_func()  # 'I am the local one' will be printed as expected
 
#print(local_text)  # NameError will be raised
# because we can't use local variable outside of its function

I am the global one
I am the global one
The globals are valid everywhere
I am the local one

In [ ]:
variable = "global"

def func_outer():
    variable = "enclosing outer local"
    def func_inner():
        variable = "enclosing inner local"
        def func_local():
            variable = "local"
            print(variable)
        func_local()
    func_inner()
 
func_outer()  # prints 'local' defined in the innermost function
print(variable)  # 'global' level variable holds its value

local
global

In [ ]:
count = 9

def print_global():
    print(count)
 
print_global()
 
def counter():
    print(count) 
count += 1  # we're trying to change its value
 
print()  # just empty line
counter()

9

10

In [ ]:
count = 1

def counter():
    global count  # we've changed its scope
    print(count)  # it's global anymore
    count += 1
 
counter() 
counter()
counter()

1
2
3

In [ ]:
def func_enclosing1():
    x = 'outer variable'
    def func_enclosing2():
        x = 'inner variable'
        print("inner:", x)
    func_enclosing2()
    print("outer:", x)

func_enclosing1()

inner: inner variable
outer: outer variable

In [ ]:
def enclosing_func1():
    x = 'outer variable'
    def enclosing_func2():
        nonlocal x  # its inner-value can be used in the outer scope
        x = 'inner variable'
        print("inner:", x)
    enclosing_func2()
    print("outer:", x)

enclosing_func1()

inner: inner variable
outer: inner variable

In [ ]:
x = 15
def my_function():  # fix me!
    x=15
    x += 10 
    print(x)
#my_function()

In [ ]:
count = 1

def counter():
    global count
    count += 1
    print(count)  

counter()

2

In [ ]:
def myfunc1():
  x = "hi"
  def myfunc2():
    nonlocal x
    x = "hello"
  myfunc2() 
  return x

print(myfunc1())

hello

In [ ]:
def outer():
    x = "previous"
    def inner():
        x = "later"
        print("inner:", x)
    x="later"
    inner()
    print("outer:", x)

In [ ]:
lambda x: 'odd' if x % 2 != 0 else 'even'

In [ ]:
print((lambda x: x**2)(2))

print((lambda x, y: (x+y)/2)(3, 5))  # takes two int, returns mean of them

average = (lambda x, y: (x+y)/2)(3, 5) 
print(average)

average = lambda x, y: (x+y)/2
print(average(3, 5))  # we call

In [ ]:
echo_word = (lambda word1, echo:word1*echo)
echo_word('hello', 3)

'hellohellohello'

In [ ]:
#Chapter 3Lambda functions and error-handling


#Writing a lambda function you already know
# Define echo_word as a lambda function: echo_word
echo_word = (lambda word1, echo: word1 * echo)

# Call echo_word: result
result = echo_word('hey', 5)

# Print result
print(result)

#Map() and lambda functions
# Create a list of strings: spells
spells = ['protego', 'accio', 'expecto patronum', 'legilimens']

# Use map() to apply a lambda function over spells: shout_spells
shout_spells = map(lambda item: item + '!!!', spells)

# Convert shout_spells to a list: shout_spells_list
shout_spells_list = list(shout_spells)

# Convert shout_spells into a list and print it
print(shout_spells_list)

#Filter() and lambda functions
# Create a list of strings: fellowship
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# Use filter() to apply a lambda function over fellowship: result
result = filter(lambda member: len(member) > 6, fellowship)

# Convert result to a list: result_list
result_list = list(result)

# Convert result into a list and print it
print(result_list)

#Reduce() and lambda functions
# Import reduce from functools
from functools import reduce

# Create a list of strings: stark
stark = ['robb', 'sansa', 'arya', 'eddard', 'jon']

# Use reduce() to apply a lambda function over stark: result
result = reduce(lambda item1, item2: item1 + item2, stark)

# Print the result
print(result)

#Error handling with try-except
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ''
    shout_words = ''

    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1 * echo

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + '!!!'
    except:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("particle", echo="accelerator")


#Error handling by raising an error
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Raise an error with raise
    if echo < 0:
        raise ValueError('echo must be greater than 0')

    # Concatenate echo copies of word1 using *: echo_word
    echo_word = word1 * echo

    # Concatenate '!!!' to echo_word: shout_word
    shout_word = echo_word + '!!!'

    # Return shout_word
    return shout_word

# Call shout_echo
shout_echo("particle", echo=5)

#Bringing it all together (1)
# Select retweets from the Twitter DataFrame: result
result = filter(lambda x: x[0:2] == 'RT', tweets_df['text'])

# Create list from filter object result: res_list
res_list = list(result)

# Print all retweets in res_list
for tweet in res_list:
    print(tweet)

#Bringing it all together (2)
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""

    # Initialize an empty dictionary: cols_count
    cols_count = {}

    # Add try block
    try:
        # Extract column from DataFrame: col
        col = df[col_name]
        
        # Iterate over the column in dataframe
        for entry in col:
    
            # If entry is in cols_count, add 1
            if entry in cols_count.keys():
                cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
            else:
                cols_count[entry] = 1
    
        # Return the cols_count dictionary
        return cols_count

    # Add except block
    except:
        print('The DataFrame does not have a ' + col_name + ' column.')

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)

# Call count_entries(): result2
result2 = count_entries(tweets_df, 'lang1')

#Bringing it all together (3)
# Define count_entries()
def count_entries(df, col_name='lang'):
    """Return a dictionary with counts of
    occurrences as value for each key."""
    
    # Raise a ValueError if col_name is NOT in DataFrame
    if col_name not in df.columns:
        raise ValueError('The DataFrame does not have a ' + col_name + ' column.')

    # Initialize an empty dictionary: cols_count
    cols_count = {}
    
    # Extract column from DataFrame: col
    col = df[col_name]
    
    # Iterate over the column in DataFrame
    for entry in col:

        # If entry is in cols_count, add 1
        if entry in cols_count.keys():
            cols_count[entry] += 1
            # Else add the entry to cols_count, set the value to 1
        else:
            cols_count[entry] = 1
        
        # Return the cols_count dictionary
    return cols_count

# Call count_entries(): result1
result1 = count_entries(tweets_df, 'lang')

# Print result1
print(result1)

In [ ]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(list(map(lambda x:x**2, iterable)))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
def square(n):   # at least two additional lines of code
    return n**2  
  
iterable = [1, 2, 3, 4, 5]
print(list(map(square, iterable)))

[1, 4, 9, 16, 25]

In [ ]:
letter1 = ['o', 's', 't', 't']
letter2 = ['n', 'i', 'e', 'w']
letter3 = ['e', 'x', 'n', 'o']
numbers =list(map(lambda x, y, z: x+y+z, letter1, letter2, letter3))

print(numbers)

['one', 'six', 'ten', 'two']

In [ ]:
number_list = [1, 2, 3, 4, 5]

result = list(map(lambda x :x*3,number_list))
print(result)

[3, 6, 9, 12, 15]

# New Section