<a href="https://colab.research.google.com/github/ustab/NOTES-FROM-LECTURERS/blob/main/Untitled128.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
first_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,10,11,12,13,14,15,16] 
  
even = list(filter(lambda x:x%2==0, first_ten))
odd=list(filter(lambda x:x%2!=0, first_ten)) 
print(type(even))  # it's 'filter' type, 
                   # in order to print the result,
                   # we'd better convert it into the list type

print('Even numbers are :',even)
print('odd numbers are:', odd)

<class 'list'>
Even numbers are : [0, 2, 4, 6, 8, 10, 12, 14, 16]
odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15]

In [8]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
  
vowels = filter(lambda x: True if x in vowel_list else False, first_ten) 

print('Vowels are :', list(vowels))

Vowels are : ['a', 'e', 'i']

In [11]:
number_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result1 = list(filter(lambda x: x < 6, number_list))
result2=list(filter(lambda x: x >= 6, number_list)) 
print(result1)
print(result2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]

In [ ]:
def modular_function(n):
    print(lambda x: x ** n)
    
power_of_2=modular_function(2) # first sub-function derived from def
power_of_3=modular_function(3)  # second sub-function derived from def=poer_of_4+modular_function(4)  # third sub-function derived from def
power_of_4=modular_function(4)

print(power_of_2(2)) #2 to the power of 2

In [26]:
def repeater(n):
    return lambda x: x * n
    
repeat_2_times = repeater(2)  # repeats 2 times
repeat_3_times = repeater(3)  # repeats 3 times
repeat_4_times = repeater(4)  # repeats 4 times

print(repeat_2_times('alex '))
print(repeat_3_times('lara '))
print(repeat_4_times('linda '))

alex alex
lara lara lara
linda linda linda linda

In [33]:
def modular_function(n):
    return lambda x: x ** n

power_of_3 = modular_function(3)
print(power_of_3(5))
print((lambda x: x**3)(5))
multiply = lambda x: x * 4
add = lambda x, y: x + y
print(add(multiply(10), 5))
square = lambda x:x**2
print(square(5))

number_list=[1, 2, 3, 4, 5]
result= list(map(lambda x:x**2,number_list))
print(result)

125
125
45
25
[1, 4, 9, 16, 25]

In [38]:
number_list=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result= list(filter(lambda x:x % 2!=0,number_list)) 
print(result)

[1, 3, 5, 7, 9]

In [40]:
def sum_double(x, y):
    if x==y:
      print((x+y)*2)
    else:
        print(x+y)
sum_double(3,3)

12

In [71]:
def parrot_trouble(talking=1 or 0 , hour=range(22)):
  if talking == 1 and (hour < 6 or hour > 21):
    return True
    if True:
     print('we are in trouble')
  else:
    return False
    if False:
     print('we are in safe')
parrot_trouble(1, 4)

True

In [ ]:
"""Define a function to take a word and return negative meaning.
Given a word, return a new word where "not " has been added to the front. However, if the word already begins with "not", return the string unchanged.
For example:
Test	Result
print(not_string('sugar'))
not sugar
print(not_string('x'))
not x
print(not_string('not bad'))
not bad"""

def not_string(word):
    if word.startswith("not"):
        return(word)
    else:
        return "not " + word
print(not_string('not merve'))


Asgnmt_Les1_Assignment - 4 (Is it a Prime Number?).py
"""Task : Write a program that takes a number from the user and prints the result to check if it is a prime number.
The examples of the desired output are as follows :
input →  19 ⇉ output : 19 is a prime number
input →  10 ⇉ output : 10 is not a prime number"""
x = int(input("Enter a number to check whether it is Prime number or not: "))
divider = 0
for i in range(2,x):
    if x % i == 0:
        divider += 1
        break
if divider == 0:
    print(f"{x} is a prime number")
else:
    print(f"{x} is not a prime number")


Asgnmt_Les1_Assignment - 5 (Fibonacci Numbers).py
"""Task : Create a list consisting of Fibonacci numbers from 1 to 55 using control flow statements.
The desired output is like :
fibonacci →  [1, 1, 2, 3, 5, 8, 13, 21, 34, 55]"""
a, b = 1, 1
list_fib = []
while a <= 55:
    list_fib.append(a)
    a, b = b, a + b
print(list_fib)
Asgnmt_Les1_Assignment - 6 (Prime Numbers).py
"""Task : Print the prime numbers which are between 1 to entered limit number (n).
You can use a nested for loop.
Collect all these numbers into a list
The desired output for n=100 :
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59,
61, 67, 71, 73, 79, 83, 89, 97]"""


def main(n):
    list_prime = []
    for i in range(2, n+1):
        divider = 0
        for x in range(2, i):
            if not i % x:
                divider += 1
                break
        if not divider:
            list_prime.append(i)
    print(list_prime)


n = int(input("Enter an end number : "))
main(n)


Asgnmt_Les1_Assignment - 7 (FizzBuzz).py
"""Task : Print the FizzBuzz numbers.
FizzBuzz is a famous code challenge used in interviews to test basic programming skills. It's time to write your own \
implementation.
Print numbers from 1 to 100 inclusively following these instructions:
if a number is multiple of 3, print "Fizz" instead of this number,
if a number is multiple of 5, print "Buzz" instead of this number,
for numbers that are multiples of both 3 and 5, print "FizzBuzz",
print the rest of the numbers unchanged.
Output each value on a separate line."""

for i in range(1,101):
    if not i % 15:
        i = "FizzBuzz"
    elif not i % 5:
        i = "Buzz"
    elif not i % 3:
        i = "Fizz"
    print(i, sep="\n")


Asgnmt_Les1_Assignment - 8 (Leap Year).py
"""Task:
Find out if a given year is a "leap" year.
In the Gregorian calendar, three criteria must be taken into account to identify leap years:
The year must be evenly divisible by 4;
If the year can also be evenly divided by 100, it is not a leap year; unless...
The year is also evenly divisible by 400. Then it is a leap year.
According to these rules, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300, and 2500 are not
 the leap years.
Write a Python program that prints such as "2020 is a leap year" if the given year by the user is a leap year, prints
such as "2019 is not a leap year" otherwise."""

year = int(input("Please enter a year: "))
if not year % 400 or (not year % 4 and year % 100):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")def not_string(word):

In [ ]:
import earth.europe.kosovo  # importing with naming package, subpackage and module

earth.europe.kosovo.a_function()  # we want to access a function defined in kosovo module

In [1]:
if a >= 999 :
    print(a ** 0)

NameError: ignored

In [8]:
998*2

1996

In [12]:
 if b > max:
  max = b
    print(max)
  max = a

IndentationError: ignored

In [17]:
i =0
number=int(input('Please enter a number: '))
while i < number:
    print(i**2)
    i+=1

Please enter a number: 3
0
1
4

In [5]:
fishes.txt='''Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class'''
my_file = open('fishes.txt')
for line in my_file:
  print(my_file.readlines)
my_file.close()

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 39))

NameError: ignored

In [7]:
my_file = open("fishes.txt", "r")

print(my_file.readlines())

FileNotFoundError: ignored

In [ ]:
i = 4

while i < 8:
    print(i)
    i += 1